.settings {
    background-color: #d9d9d9;
    padding: 14px;
}

.settingsContainer {
    border-radius: 15px;
    font-family: "Roboto", Arial;
    max-width: fit-content;
    margin: 0 auto;
}

.settingsContentWrapper {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    gap: 20px;
    background: #FFFFFF;
    color: #1E1E1E;
}

.settings h1 {
    color: #07326A;
    font-size: 25px;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    letter-spacing: 0.40px;
    text-align: left;
    display: block;
    margin-bottom: 14px;
}

.settingsNav {
    border-right: 1px solid #d9d9d9;
    min-width: 150px;
    padding: 20px;
}

.settingsNav li {
    margin-bottom: 10px;
}

.btn-link {
    color: #07326a;
    font-size: 17px;
    background-color: transparent;
}

.settingsContent {
    min-width: 515px;
    padding: 20px;
}

.settingsContent h2 {
    color: #07326A;
    font-size: 18px;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    letter-spacing: 0.40px;
    text-align: left;
    display: block;
    margin-bottom: 14px;
}

.profileImage {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileImage svg {
    width: 46px;
    height: 46px;
}

form.profile-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    height: auto;
    padding-top: 50px;
    margin-top: 30px;
}

form.profile-form .formGroup {
    height: 65%;
}

.formRow {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

form label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
}

form input,
form textarea {
    background-color: #e9eef9;
    border-radius: 15px;
    display: block;
    border: 1px solid #000;
}

.formColumn {
    width: 100%;
}

form input {
    padding: 6px 0;
    width: 100%;
}

form textarea {
    resize: none;
    height: 100%;
}

/* Mobile version */
@media screen and (max-width: 576px) {

    form.profile-form {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 10px;
    }

    form.profile-form .formGroup {
        width: 100%;
        height: auto;
    }

    form.profile-form .formGroup textarea {
        height: 94px;
        width: 100%;
    }

    .settingsNav {
        width: 40%;
    }

    .settingsNav li a {
        color: #07326a;
        font-size: 11px;
    }
}