.brackets-wrapper {
    background-color: #D9D9D9;
    padding: 40px 0;
    margin-top: -10px;
}

.brackets {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    gap: 40px;
    color: #000;
}

.btn-icon {
    /* background-color: transparent; */
    margin-left: auto;
    display: block;
    width: fit-content;
    background-color: transparent;
    padding: 0;
}

.brackets-card {
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px;
    min-height: 400px;
}

.brackets-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
}

table {
    background-color: #fff;
    color: #07326A;
}

table:first-child {
    border-right: 1px solid #6E6D72;
}

th,
td {
    padding: 5px;
}

thead tr,
thead tr th {
    border-bottom: 1px solid #6E6D72;
    text-align: left;
    padding-bottom: 5px;
}

.live-chat {
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.live-chat h1 {
    font-size: 38px;
    font-family: "Keania One", sans-serif;
    color: #07326A;
}

.live-chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6E6D72;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.live-chat-header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brackets form {
    background-color: #fff;
    padding: 0;
    height: auto;
    gap: 10px;
    border-top: 1px solid #6E6D72;
    padding-top: 10px;
}

.brackets form input {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: block;
    border: none;
}

.brackets form input::placeholder {
    color: #B8C2CE;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.4px;
}

.live-chat-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.live-chat-attachments {
    display: flex;
    align-items: center;
    gap: 10px;
} 