header {
    /* background-color: #0D3BC3; */
    background-color: #2238A4;
    padding: 10px 0;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.header-login {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: -20px;
}

.header-login .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    color: #6e6d72;
    font-size: 30px;
    font-family: "Rubik Mono One", monospace, serif;
    text-transform: uppercase;
    letter-spacing: 0.40px;
}

header.header-login  .logo{
    margin-left: 20px;
    position: relative;
    top: 20px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

header nav ul li a {
    color: #fff;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-buttons li {
    display: flex;
}

.header-buttons li a,
.header-buttons li button {
    color: #fff;
}

.header-buttons li button {
    background-color: #1a2234;
    border-radius: 4px;
    padding: 12px;
    font-size: 12px;
}

.login-text {
    background-color: #A0ACDC;
    color: #A0ACDC;
}