.notification-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-button {
    background-color: transparent;
    color: #000;
    padding: 0;
    font-size: 20px;
    display: flex;
}

